html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Nunito";
    min-height: 1000px;
    position: relative;
    background: linear-gradient(180deg, #e0f7ff 0%, #ccefff 10%, #99dfff 20%, #66cfff 30%, #33bfff 40%, #00afff 50%, #0099e6 60%, #007fcc 70%, #0055b2 80%, #002d99 90%, #001a33 100%);
    animation: aparecer 1s ease-out forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@view-transition {
    navigation: auto;
}

::selection {
    background-color: rgb(54, 163, 206);
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: solid 4px transparent;
    box-shadow: inset 0 0 10px 10px #7c7c7c85;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #4b4b4b83;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 50px;
}

@media screen and (min-width: 1922px) {
    main {
        display: inline-block;
    }
}

#nav,
#nav.navOculto {
    backdrop-filter: blur(7.5px);
    display: grid;
    grid-template-columns: repeat(4, auto);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    user-select: none;
    padding-inline: 25px;
    transition: top 0.2s cubic-bezier(0, 0, .25, 1), border-radius 0.25s cubic-bezier(0, 0, .25, 1), transform 0.2s cubic-bezier(0, 0, .25, 1);
    z-index: 100;
}

#nav {
    top: -40px;
    padding-block: 15px;
    border-radius: 0 0 50px 50px;
}

#nav.navOculto {
    top: -25px;
    border-radius: 0 0 65px 65px;
}

@media (max-width: 950px) {
    #nav, #nav.navOculto {
        left: 50%;
        transform: translateX(-30%);
    }
    
}

#nav a,
#nav.navOculto a {
    grid-row: 2;
    text-align: center;
    text-decoration: none;
    color: #313131;
    font-weight: bold;
    padding-inline: 25px;

    transition: all 0.3s cubic-bezier(0, 0, .25, 1), font-size 0.25s cubic-bezier(1, 0.5, .25, 1), opacity 0.1s cubic-bezier(0, 0, 0, 1), padding-inline 0.2s cubic-bezier(0, 0, 0, 1);
}

#nav a {
    font-size: 1.5rem;
    opacity: 1;
    margin-top: 50px;
}

#nav.navOculto a {
    font-size: 0.2rem;
    opacity: 0;
    margin-top: 0;
    padding-bottom: 20px;
    padding-inline: 0px;
    pointer-events: none;
}

#nav a:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
}

#nav.navOculto a:hover {
    transition-delay: 0.1s;
}

#botonNav,
#botonNav.navOculto {
    grid-column: 1 / span 4;
    position: fixed;
    left: 50%;
    background: transparent;
    border: none;
    padding: 0;
    transition: transform 0.2s cubic-bezier(0, .7, .9, .9);
}

#botonNav {
    transform: translate(-50%, 145%) rotate(180deg);
}

#botonNav.navOculto {
    grid-row: 2;
    transform: translate(-50%, 40%);
}

#botonNav:hover,
#botonNav.navOculto:hover {
    cursor: pointer;
}

#botonNav:hover {
    transform: translate(-50%, 150%) rotate(180deg) scale(1.2);
}

#botonNav.navOculto:hover {
    transform: translate(-50%, 35%) scale(1.2);
}

aside {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-inline: 20px;
    writing-mode: sideways-lr;
    border-radius: 0 75px 75px 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7.5px);
}

aside>h4 {
    margin: 0;
}

#container1,
#containers {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 600px;
    padding: 75px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s cubic-bezier(0, 0, .5, 1);
    animation: aparecerContainers 0.5s forwards;
    margin-bottom: 65px;
}

#container1 {
    margin-top: 100px;
}

#containers:last-of-type {
    margin-bottom: 150px;
}

#container1 img,
#containers img,
figure {
    margin: 0;
    border-radius: 15px;
    user-select: none;
}

#container1.comprimido {
    margin-top: 45px;
}

.artOculto {
    transform: scale(0.5);
    opacity: 0;
    transition: all .5s ease-out;
}

.artEnseñar {
    transform: scale(1);
    opacity: 1;
}

#flechaSubir {
    backdrop-filter: blur(7.5px);
    background-color: rgba(116, 116, 116, 0.25);
    border-radius: 100%;
    user-select: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    cursor: pointer;
    z-index: 2;
    transition: all .5s cubic-bezier(.6, 0, 0, 1);
    pointer-events: none;
    z-index: 100;
    animation: subeBaja 2.5s ease-out infinite;
}

#flechaSubir:hover {
    animation: subeBaja 1.5s ease-out infinite;
}

@keyframes subeBaja {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -5px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

#flechaSubir.subir {
    bottom: 50px;
    height: 35px;
    pointer-events: all;
}

#flechaSubir box-icon {
    width: 0px;
    height: 0px;
    transition: all .5s cubic-bezier(.6, 0, 0, 1);
}

#flechaSubir box-icon.subir {
    width: 35px;
    height: 35px;
}

form {
    display: grid;
    grid-template-columns: 2;
    gap: 30px;
    margin-block: 50px;
}

.izq {
    grid-column: 1;
    text-align: right;
    margin-right: 15px;
    width: 250px;
}

.der {
    grid-column: 2;
    width: 250px;
}

/* CAMBIAR INPUTS Y DEMAS POR OTRO PORQUE CAMBIA OTROS (EJ FORM > INPUT) */
form input,
form .enviar,
form select,
form textarea {
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    color: rgb(116, 116, 116);
    border-radius: 10px;
    font-family: "Nunito";
    padding-block: 2px;
    padding-inline: 10px;
    
}

form textarea {
    resize: none;    
    height: 75px;
}

form .terminos,
form .enviar {
    cursor: pointer;
    user-select: none;
    grid-column: 1 / span 2;
    margin: 0 auto;
}